name: CI

on:
  push:
    branches:
    - main

jobs:
  verify:
    name: Verify (${{ matrix.directory }})
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.14.0
    - name: Initialise with no backend
      run: terraform init -backend=false
    - name: Check formatting
      run: terraform fmt -check -recursive
    - name: Validate the configuration
      run: terraform validate
    strategy:
      fail-fast: false
      matrix:
        directory:
        - .
        - modules/ci-iam-policy
    defaults:
      run:
        working-directory: ${{ matrix.directory }}

  release:
    name: Release?
    needs: [ verify ]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Prepare a release
      uses: googleapis/release-please-action@v4
      with:
        config-file: .github/release-please-config.json
        manifest-file: .github/release-please-manifest.json
