name: PR

on:
  pull_request:
    branches:
    - main

jobs:
  verify:
    name: Verify (${{ matrix.directory }})
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.14.0
    - name: Initialise with no backend
      run: terraform init -backend=false
    - name: Check formatting
      run: terraform fmt -check -recursive
    - name: Validate the configuration
      run: terraform validate
    strategy:
      fail-fast: false
      matrix:
        directory:
        - .
        - modules/ci-iam-policy
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
